<%provide(:title, @workout.name)%>

<div data-role="content">
	<p id="notice"><%= notice %></p>
	<%= form_for(@workout) do |f| %>
		

		<label for="set_count" class="ui-input-text">Sets</label>
		<input id="set_count" name="workout[sets]" size="30" type="number" class="ui-input-text ui-body-c">

		<label for="repition_count" class="ui-input-text">Repitions:</label>
		<input id="repitition_count" name="workout[reps]" size="30" type="number" class="ui-input-text ui-body-c">
		
		<div><b>Next:</b>

		<% if @workout.next%>
			<input type="submit" data-theme="b" data-mini="true" data-inline="true" name="workout[next]" value="<%=@workout.next.name%>">
		<%else%>
			<input type="submit" data-theme="b" name="workout[next]" data-mini="true" data-inline="true" value="<%=@routine.workouts.first.name%>">
		<% end %>
		
		<input type="submit" data-mini="true" style="text-align:right;" data-inline="true" name="workout[next]" value="Finish Routine">
		
		</div>


		<div data-role="collapsible" data-theme="e" data-content-theme="c">
		    <h2>OR select the next exercise </h2>
		    <ul data-role="listview" data-filter="true">
		    	<% @routine.workouts.each do |single_workout|%>
			    	<% if @workout.next && single_workout.name != @workout.next.name%>
				    	<label data-theme="b" style="border-top-width: 0px;margin-top: 0px;border-bottom-width: 0px;margin-bottom: 0px;border-left-width: 0px;border-right-width: 0px;" data-corners="false">
				    		<li style="padding-top: 0px;padding-bottom: 0px;padding-right: 0px;padding-left: 0px;" >
				    			<input type="submit" data-theme="b" name="workout[next]" value="<%=single_workout.name%>">
				    		</li>
				    	</label>
				    <%elsif !@workout.next%>
				    	<%if single_workout.name != @routine.workouts.first.name%>
					    		<label data-theme="b" style="border-top-width: 0px;margin-top: 0px;border-bottom-width: 0px;margin-bottom: 0px;border-left-width: 0px;border-right-width: 0px;" data-corners="false">
					    		<li style="padding-top: 0px;padding-bottom: 0px;padding-right: 0px;padding-left: 0px;" >
					    			<input type="submit" data-theme="b" name="workout[next]" value="<%=single_workout.name%>">
					    		</li>
					    	</label>
				    	<%end%>
				    <%end%>
		    	<%end%>
		    </ul>
		</div>



	<% end %>

</div>