<%provide(:title, 'Log In')%>

<div data-role="content">
	<p id="notice"><%= notice %></p>
	<p>Demo Login <br /> <b>Email:</b> demo@fitplanner.com, <b>Password:</b>demopass</p>

	<%= form_for(:session, url: sessions_path) do |f| %>

		<%=f.label :email %>
		<%= f.email_field :email %>

		<%=f.label :password %>
		<%= f.password_field :password %>

		<br/>
		<div class="actions">
		<%=f.submit "Log In"  %>
	</div>
	<%end%>
	<br/>
	<div class="actions"> Not registered yet?

		<a href="/signup" data-mini="true" data-theme="b" data-inline="true" data-role="button">Sign Up</a>
	</div>
</div>