<%=provide(:title,'Routine Details')%>
<div data-role = "content">
	<p id="notice"><%= notice %></p>
	<div style="text-align:right;">
		<a href="<%=edit_routine_path(@routine)%>" data-mini="true" data-icon="edit" data-theme="b" data-inline="true" data-role="button">Edit</a>
	</div>
<p>
  <b>Name:</b>
  <%= @routine.name %>
</p>

<p>
  <b>Days:</b>
  <%= @routine.days %>
</p>

<!--<a href="/performs/1" data-role="button">Start Workout</a>-->
<%if @routine.workouts.any? %>
  <h3><%= pluralize(@routine.workouts.count, "Exercise")%>:</h3>
<%else%>
  <p style="color:red;">You have no exercise for this routine, please click "Edit" to add a workout.</p>
<%end%>

<ul data-role="listview" data-theme="b" data-inset="true">
<%@routine.workouts.each do |workout| %>
          <li>
              <a href="<%=workout_path(workout)%>"><%=workout.name%></a>
          </li>        
<%end%>
</ul>

</div>
