<% provide(:title, "Sign Up")%>

<div data-role="content">
	<div style="text-align:right" class="actions"> Already have an account?

		<a href="<%=login_path%>" data-mini="true" data-theme="b" data-inline="true" data-role="button">Log In</a>
	</div>

	<%=form_for (@user) do |f|%>

		<% if @user.errors.any? %>
    	<div id="error_explanation">
      		<h2><%= pluralize(@user.errors.count, "error") %> prohibited this routine from being saved:</h2>

      	<ul>
      	<% @user.errors.full_messages.each do |msg| %>
        	<li><%= msg %></li>
      	<% end %>
      	</ul>
    	</div>
  		<% end %>
		<%=f.label :name %>
		<%= f.text_field :name %>

		<%=f.label :email %>
		<%= f.email_field :email %>

		<%=f.label :password %>
		<%= f.password_field :password %>

		<%=f.label :password_confirmation %>
		<%= f.password_field :password_confirmation %>

		<br/>
		<div class="actions" >
		<%=f.submit "Create Account"  %>
	</div>
	<%end%>
</div>