
<%provide(:title, 'Exercise')%>

<br/>

<div data-role = "content">
  <ul data-role="listview" data-theme = "b" data-filter="true" data-filter-placeholder="Search exercises..." data-inset="true">
    
    <% @exercises.each do |exercise| %>
      <li><a href="/exercises/<%=exercise.id%>/"><%= exercise.title %></a></li>         
    <% end %>
    
  </ul>

</div>

<!--exercise

<table>
<tr>
  <th>Title</th>
  <th>Instruction</th>
  <th>Pic</th>
  <th>Page</th>
  <th></th>
  <th></th>
  <th></th>
</tr>

<% @exercises.each do |exercise| %>
<tr>
  <td><%= exercise.title %></td>
 <td><%= exercise.instruction %></td>
  <td><%= exercise.pic %></td>
  <td><%= exercise.page_id %></td>
<td><%= link_to 'Show', exercise %></td>
  <td><%= link_to 'Edit', edit_exercise_path(exercise) %></td>
  <td><%= link_to 'Destroy', exercise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
<% end %>
</table>



%= link_to 'New Exercise', new_exercise_path %>-->
