
<%provide(:title, @exercise.title)%>
<div data-role="content">
	<p id="notice"><%= notice %></p>
	<p>
	  <b>Instruction:</b>
	  <%= @exercise.instruction %>
	</p>

	<p>
	  <b>Pic:</b>
	  <%= @exercise.pic %>
	</p>

	<p>
	  <b>Page:</b>
	  <%= @exercise.page_id %>
	</p>
	<a href="/exercises" data-role="button" data-icon="back" class="ui-btn-left" data-theme="c">Back</a>
</div>

<%= link_to 'Edit', edit_exercise_path(@exercise) %> |
<%= link_to 'Back', exercises_path %>
