<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | fitPlanner</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "http://code.jquery.com/mobile/latest/jquery.mobile.min.css", :media => "all" %>
  <%= javascript_include_tag "http://code.jquery.com/mobile/latest/jquery.mobile.min.js" %>
  <%= csrf_meta_tags %>
  
</head>
<body>

<script>
</script>
<div data-role="page" data-url="<%= request.path %>">
  <div data-role="header">
    
      <h1><%= yield(:title) %> </h1>
      
    
      <% if(logged_in?) %>
      <a href = "/"  data-theme="c" data-iconpos="notext" data-icon="home" class = "ui-btn-right"></a>
      <a href="#myPanel" data-role="button" data-icon="bars" data-iconpos="notext" data-theme="c" class = "ui-btn-left" data-inline="true"></a>
       <% end %>
    </div>

  <% if(yield(:title) == "Log In" || yield(:title) == "Sign Up" || logged_in?) %>
   
    <%= yield %>

  <%end%>

  <% if(yield(:title) != "Log In" && yield(:title) != "Sign Up") %>
  <div data-role="panel" id="myPanel" data-position="left" data-display="overlay" data-theme="a">
  	<ul data-role="listview"  data-icon="false">
      <br />
      <br />
      <br />
  		<li><a href="/">Home</a></li>
      <li><a href='<%=edit_user_path(current_user)%>'>Edit Profile</a></li>
  		<li><a href="/exercises">Exercises</a></li>
  		<li><a href="/about">About</a></li>
      <br />
      <br />
      <br />
      <br />
      <li><a href="/logout">Logout</a></li>
  	</ul>
  	
  </div>
    <% end %>
</div>
  

</body>
</html>
